/uController/ExterIO_1284/externio_1284.aws
/uController/ExternIO
/share/Graph_App/Machines/I_MachineWizard.hpp
/Doku
/Mp3Player/build-Mp3Player-Android_for_armeabi_v7a_GCC_4_9_Qt_5_8_0_for_Android_armv7_b3d78d-Debug
/Mp3Player/build-Mp3Player-Android_for_armeabi_v7a_GCC_4_9_Qt_5_8_0_for_Android_armv7_b3d78d-Release
/uController/.metadata
/uController/dvt
/uController/eepromErr
